* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: "Manrope", "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-track {
	background-color: #ffffff00;
}

::-webkit-scrollbar-track-piece {
	background-color: #dddddd10;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #C78FFF;
}

::-webkit-scrollbar-corner {
	border-radius: 10px;
	background: #C78FFF;
}

::-webkit-resizer {
	border-radius: 10px;
	background: #C78FFF;
}

a, button, textarea, input {
	text-decoration: none;
	outline: none;
}

html, body {
	height: 100%;
}

.responsive-wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.responsive-main {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	height: 100%;
}

body {
	background: url(../images/bg.png), #11141C;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	max-width: 1464px;
	width: 100%;
	padding: 0px 20px;
	margin: auto;
}

.copy-button {
	margin-left: 16px;
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9999 21.9999H3.99995C3.46402 22.0186 2.94442 21.8138 2.56524 21.4347C2.18605 21.0555 1.98132 20.5359 1.99995 19.9999V9.99995C1.98132 9.46402 2.18605 8.94442 2.56524 8.56524C2.94442 8.18605 3.46402 7.98132 3.99995 7.99995H7.99995V3.99995C7.98132 3.46402 8.18605 2.94442 8.56524 2.56524C8.94442 2.18605 9.46402 1.98132 9.99995 1.99995H19.9999C20.5359 1.98132 21.0555 2.18605 21.4347 2.56524C21.8138 2.94442 22.0186 3.46402 21.9999 3.99995V13.9999C22.0183 14.5358 21.8134 15.0552 21.4343 15.4343C21.0552 15.8134 20.5358 16.0183 19.9999 15.9999H15.9999V19.9999C16.0183 20.5358 15.8134 21.0552 15.4343 21.4343C15.0552 21.8134 14.5358 22.0183 13.9999 21.9999ZM3.99995 9.99995V19.9999H13.9999V15.9999H9.99995C9.46411 16.0183 8.94468 15.8134 8.56557 15.4343C8.18645 15.0552 7.98162 14.5358 7.99995 13.9999V9.99995H3.99995ZM9.99995 3.99995V13.9999H19.9999V3.99995H9.99995Z' fill='white'/%3E%3C/svg%3E%0A");
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.copy-button:hover {
	opacity: 0.7;
}

.responsive-table {
	position: relative;
	margin-top: 20px;
	overflow: auto;
}
.responsive-table::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

.body-table {
	min-width: 1050px;
	width: 100%;
}

.head-table {
	min-width: 1050px;
	width: 100%;
	position: relative;
	z-index: 2;
	display: -ms-grid;
	display: grid;
	padding: 24px 36px;
	-ms-grid-columns: (1fr)[8] 70px;
	grid-template-columns: repeat(8, 1fr) 70px;
	background: #1D1E2C;
	border-radius: 12px;
}
.head-table > .item {
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 24px;
	color: #FFFFFF;
}
.head-table > .item:last-child {
	text-align: right;
}

.row-item {
	-webkit-animation: fadein 0.6s ease-in-out;
	        animation: fadein 0.6s ease-in-out;
	padding: 24px 12px;
	border-bottom: 2px solid #252736;
}
.row-item:last-child {
	border-bottom: none;
}
.row-item > .top {
	margin-bottom: 4px;
}
.row-item > .top > .data, .row-item .bottom > .data {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[8] 70px;
	grid-template-columns: repeat(8, 1fr) 70px;
}
.row-item > .top > .data > .item, .row-item .bottom > .data > .item {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 36px;
	color: #FFFFFF;
}
.row-item > .top > .data > .item:last-child, .row-item .bottom > .data > .item:last-child {
	color: #67FF76;
}

.data-list > .item {
	margin-bottom: 4px;
}
.data-list > .item:last-child {
	margin-bottom: 0;
}

.body-table {
	background: #191B27;
	-webkit-box-shadow: 0px 38px 116px -24px rgba(53, 71, 118, 0.06);
	        box-shadow: 0px 38px 116px -24px rgba(53, 71, 118, 0.06);
	border-radius: 12px;
	padding: 0px 24px;
	padding-top: 22px;
	margin-top: -22px;
}

.icon-done {
	margin-left: 24px;
	width: 36px;
	height: 36px;
	position: relative;
}
.icon-done::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 19px;
	background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8069 31.4876C11.4896 31.4467 11.1828 31.3043 10.939 31.0606L1.93933 22.0606C1.35355 21.4748 1.35356 20.5251 1.93935 19.9393C2.52515 19.3535 3.4749 19.3536 4.06067 19.9393L12 27.8789L31.9395 7.93934C32.5253 7.35355 33.4751 7.35355 34.0608 7.93934C34.6466 8.52513 34.6466 9.47487 34.0608 10.0607L13.0608 31.0607C12.7187 31.4028 12.2524 31.5451 11.8069 31.4876Z' fill='%23C78FFF'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-size: contain;
}

.icon-status {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
.notiff-copy {
	position: fixed;
	top: 20px;
	right: -100%;
	z-index: 10;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), conic-gradient(from 252.5deg at 50% 100%, #7B2BFF -0.77deg, #C213FF 56.92deg, #E337FF 101.33deg, #547AFF 217.14deg, #7B2BFF 359.23deg, #C213FF 416.92deg);
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), conic-gradient(from 252.5deg at 50% 100%, #7B2BFF -0.77deg, #C213FF 56.92deg, #E337FF 101.33deg, #547AFF 217.14deg, #7B2BFF 359.23deg, #C213FF 416.92deg);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), conic-gradient(from 252.5deg at 50% 100%, #7B2BFF -0.77deg, #C213FF 56.92deg, #E337FF 101.33deg, #547AFF 217.14deg, #7B2BFF 359.23deg, #C213FF 416.92deg);
	border-radius: 16px;
	padding: 20px 40px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.notiff-copy.active {
	right: 20px;
}

.anchor {
	position: absolute;
	top: -20px;
}

.logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 36px;
}
.logo > img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.navigation > a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
	color: #B3B0F0;
	margin-right: 24px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.navigation > a:hover {
	opacity: 0.7;
}
.navigation > a:last-child {
	margin-right: 0;
}

.button-type-a {
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-appearance: none;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 5px 22px;
	background: url(../images/button-a.png);
	border-radius: 57px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.button-type-a > p {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 34px;
	background: conic-gradient(from 239.57deg at 50% 93.62%, #AC79FF -14.66deg, #CB37FF 45.99deg, #37B7FF 114.12deg, #547AFF 176.76deg, #B830F8 203.15deg, #AC79FF 345.34deg, #CB37FF 405.99deg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.button-type-a:hover {
	opacity: 0.7;
}

header {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 15px 36px;
	background: rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(12px);
	        backdrop-filter: blur(12px);
	border-radius: 56px;
}

.logo-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.responsive-header {
	position: relative;
	z-index: 2;
	padding-top: 62px;
}

.responsive-welcome {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 1464px;
	width: 100%;
	padding: 0px 20px;
	padding-top: 110px;
	padding-bottom: 72px;
	margin: auto;
}

.welcome-title {
	margin-bottom: 16px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
}
.welcome-title > h1 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 92px;
	line-height: 94px;
	color: #FFFFFF;
}
.welcome-title > p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 2px 0px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.welcome-title > p > span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 57px;
	height: 57px;
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	margin-left: 12px;
}
.welcome-title > p > span > img {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-o-object-fit: cover;
	   object-fit: cover;
}

.welcome-info > p {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 34px;
	color: #FFFFFF;
	margin-bottom: 36px;
}

.button-type-b {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	cursor: pointer;
	-webkit-appearance: none;
	max-width: 262px;
	padding: 19px 20px;
	width: 100%;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), conic-gradient(from 252.5deg at 50% 100%, #7B2BFF -0.77deg, #C213FF 56.92deg, #E337FF 101.33deg, #547AFF 217.14deg, #7B2BFF 359.23deg, #C213FF 416.92deg);
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), conic-gradient(from 252.5deg at 50% 100%, #7B2BFF -0.77deg, #C213FF 56.92deg, #E337FF 101.33deg, #547AFF 217.14deg, #7B2BFF 359.23deg, #C213FF 416.92deg);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), conic-gradient(from 252.5deg at 50% 100%, #7B2BFF -0.77deg, #C213FF 56.92deg, #E337FF 101.33deg, #547AFF 217.14deg, #7B2BFF 359.23deg, #C213FF 416.92deg);
	border-radius: 78px;
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.button-type-b:hover {
	opacity: 0.7;
}
.button-type-b::before {
	position: absolute;
	content: "";
	max-width: 212px;
	width: 100%;
	height: 24px;
	bottom: 6px;
	background: conic-gradient(from 252.5deg at 50% 100%, #670BFF -0.77deg, #CC3CFF 56.92deg, #E337FF 101.33deg, #305DFF 217.14deg, #670BFF 359.23deg, #CC3CFF 416.92deg);
	-webkit-filter: blur(34px);
	        filter: blur(34px);
	border-radius: 78px;
}

.button-type-c {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
}

.action-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.action-links > .button-type-c {
	margin-left: 36px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.action-links > .button-type-c:hover {
	opacity: 0.7;
}

.rule {
	position: relative;
	width: 100%;
	padding: 48px 56px;
}
.rule > h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 42px;
	color: #FFFFFF;
	margin-bottom: 16px;
}

.list-rule > .item {
	margin-bottom: 12px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
	color: #FFFFFF;
}
.list-rule > .item:last-child {
	margin-bottom: 0;
}
.list-rule > .item > span {
	color: #C78FFF;
}

.example {
	position: relative;
	margin-left: 20px;
	max-width: 675px;
	width: 100%;
	padding: 48px 56px;
	background: rgba(31, 33, 48, 0.5);
	-webkit-backdrop-filter: blur(20px);
	        backdrop-filter: blur(20px);
	border-radius: 24px;
}
.example > h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 42px;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.list-items > .item {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 36px;
	color: #FFFFFF;
}
.list-items > .item > span {
	color: #C78FFF;
}

.responsive-rule-example {
	background: rgba(31, 33, 48, 0.5);
	-webkit-backdrop-filter: blur(20px);
	        backdrop-filter: blur(20px);
	border-radius: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.responsive-footer {
	background: #191B27;
	margin-top: 64px;
	padding: 7px 0px;
}
.responsive-footer > .container > p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
}

.responsive-participate {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0px 20px;
	padding-top: 32px;
	margin: 24px 0px;
	background: url(../images/part.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 24px;
}
.responsive-participate > h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 4px;
}
.responsive-participate > p {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;
}

.adress {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: -0.01em;
	color: #FFFFFF;
}

.adress-copy {
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 5px 16px;
	background: #292B3E;
	border-radius: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.qr {
	width: 120px;
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	margin-right: 16px;
	padding: 16px;
	background: rgba(37, 39, 53, 0.78);
	-webkit-backdrop-filter: blur(30px);
	        backdrop-filter: blur(30px);
	border-radius: 20px 20px 0px 0px;
	height: 120px;
}
.qr > img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.qr-adressd-data {
	margin-top: 18px;
	max-width: 722px;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.adress-data {
	width: 100%;
	background: rgba(37, 39, 53, 0.78);
	-webkit-backdrop-filter: blur(30px);
	        backdrop-filter: blur(30px);
	border-radius: 20px 20px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 37px 16px;
}

.image-welcome {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	position: absolute;
	padding-right: 146px;
	right: 0;
	top: -10px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.image-welcome::before {
	position: absolute;
	content: "";
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	height: 302px;
	width: 100%;
	background: url(../images/cr-d.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	border-radius: 9000px 0px 0px 9000px;
	bottom: 1px;
}
.image-welcome > img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 1;
}

.min-container {
	width: 100%;
	position: relative;
}

.list-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.list-links > .item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-backdrop-filter: blur(20px);
	        backdrop-filter: blur(20px);
	border-radius: 8px;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	padding: 5px 22px;
	margin-right: 12px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.list-links > .item:hover {
	opacity: 0.7;
}
.list-links > .item:last-child {
	margin-right: 0;
}
.list-links > .item > p {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 34px;
}
.list-links > .item > span {
	width: 20px;
	height: 20px;
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 10px;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: contain !important;
}
.list-links > .item.i-btc {
	background: rgba(255, 117, 39, 0.08);
}
.list-links > .item.i-btc > p {
	color: #FF7527;
}
.list-links > .item.i-btc > span {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.58001 19.7006C12.9384 21.0365 18.3649 17.7763 19.7007 12.4191C21.0364 7.06168 17.7761 1.63486 12.418 0.299246C7.06121 -1.03637 1.63469 2.22422 0.29955 7.58198C-1.03684 12.9388 2.22382 18.365 7.58001 19.7006ZM12.2102 6.0532C13.5957 6.53038 14.6089 7.24569 14.4098 8.5763C14.2658 9.55035 13.7257 10.0219 13.0087 10.1872C13.9932 10.6997 14.4942 11.4856 14.017 12.8481C13.4247 14.5403 12.0177 14.6831 10.1466 14.3291L9.69246 16.1487L8.59516 15.8753L9.04333 14.08C8.75892 14.0094 8.46826 13.9344 8.16886 13.8531L7.71912 15.6569L6.62307 15.3834L7.07718 13.5603C6.97474 13.5341 6.87167 13.5072 6.76786 13.4801C6.61194 13.4395 6.45438 13.3984 6.29491 13.3584L4.86694 13.0025L5.41169 11.7466C5.41169 11.7466 6.22022 11.9616 6.20928 11.9456C6.51994 12.0225 6.65776 11.82 6.71214 11.685L7.42972 8.80848C7.45663 8.81495 7.48298 8.82155 7.50841 8.82793C7.52108 8.8311 7.53351 8.83422 7.54567 8.83723C7.50191 8.81973 7.46222 8.80848 7.43159 8.80067L7.94352 6.74725C7.95696 6.51413 7.87664 6.22007 7.43222 6.10913C7.44941 6.09757 6.63526 5.91101 6.63526 5.91101L6.92717 4.73915L8.44044 5.11696L8.4392 5.12259C8.66672 5.17915 8.90112 5.23289 9.1399 5.28726L9.58963 3.48541L10.6863 3.75884L10.2456 5.52539C10.54 5.59258 10.8363 5.66039 11.1248 5.73226L11.5623 3.97728L12.6596 4.25072L12.2102 6.0532ZM8.73938 12.5883C9.63474 12.8248 11.5916 13.3416 11.9027 12.0916C12.2215 10.8135 10.3237 10.3877 9.39761 10.1799C9.29413 10.1567 9.20278 10.1362 9.12802 10.1175L8.52545 12.5328C8.58686 12.5481 8.65882 12.5671 8.73938 12.5883ZM9.58367 9.05904C10.3302 9.25823 11.9585 9.69272 12.2421 8.55661C12.5317 7.39453 10.9492 7.04423 10.1763 6.87315C10.0893 6.85391 10.0126 6.83693 9.94998 6.82132L9.40367 9.01192C9.45528 9.02478 9.51583 9.04094 9.58367 9.05904Z' fill='%23FF7527'/%3E%3C/svg%3E%0A");
}
.list-links > .item.i-eth {
	background: rgba(178, 142, 255, 0.08);
}
.list-links > .item.i-eth > p {
	color: #B28EFF;
}
.list-links > .item.i-eth > span {
	width: 13px;
	height: 20px;
	background-image: url("data:image/svg+xml,%3Csvg width='13' height='20' viewBox='0 0 13 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_145_42)'%3E%3Cpath d='M6.49714 -3.05176e-05L6.35522 0.455606V13.6771L6.49714 13.8109L12.9942 10.1832L6.49714 -3.05176e-05Z' fill='%23B28EFF'/%3E%3Cpath d='M6.4993 -3.05176e-05L0.00219727 10.1832L6.4993 13.811V7.39364V-3.05176e-05Z' fill='%23A378FF'/%3E%3Cpath d='M6.49769 14.9737L6.41772 15.0657V19.7755L6.49769 19.9962L12.9987 11.3477L6.49769 14.9737Z' fill='%23976FED'/%3E%3Cpath d='M6.49808 19.9961V14.9736L0.000976562 11.3477L6.49808 19.9961Z' fill='%23A378FF'/%3E%3Cpath d='M6.49927 13.8111L12.9963 10.1835L6.49927 7.39392V13.8111Z' fill='%23976FED'/%3E%3Cpath d='M0.000976562 10.1832L6.49798 13.8109V7.39362L0.000976562 10.1832Z' fill='%238E67DF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_145_42'%3E%3Crect width='13' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.logo-choose {
	width: 32px;
	height: 52px;
	margin-bottom: 42px;
}
.logo-choose > img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
}

.choose-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 4px;
}
.choose-title > h1 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 56px;
	line-height: 68px;
	letter-spacing: -0.01em;
	color: #FFFFFF;
}
.choose-title > p {
	margin: 0px 12px;
}
.choose-title > p > img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 64px;
}

.top-choose {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #191B2790;
	border-radius: 0px 0px 70px 70px;
	padding-top: 40px;
	padding-bottom: 64px;
}
.top-choose > p {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.item-space {
	width: 50%;
}

.bottom-choose {
	margin-top: 66px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.bottom-choose > .image-welcome {
	padding-right: 146px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	top: 0;
}

.responsive-choose {
	padding-bottom: 78px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}